<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../templates/head') %>
  <meta name="referrer" content="no-referrer" />
  <title>JB-Manage</title>
</head>

<body>

  <div class="menu-add-board">

 
    <div class="lg-title"><%= page %>料理</div>

    <% if (errorMessage && errorMessage.length > 0) { %> 
      <h5><%= errorMessage %></h5>
    <% } %> 

    <div class="admin-btn manage-btn">
      <a href="/manage-menu" class="admin-btn-first">返回</a>
    </div>

    <form  method="POST" action=<%= formAction %><%= menus.id %>>

      <div class='dish-name'>
        <span >料理名稱：</span>
        <input type="text" name="dish" value=<%= menus.dish %>>
      </div>

      <div class="dish-info">
        <div class='dish-prices'>
          <span >價格：</span>
          <input type="number" min="0" name="price" value=<%= menus.price %>>
        </div>
      </div>

      <input id="hidden-url" type="hidden" name='image' value=<%= menus.image %>>

      <div class="admin-btn">
        <% if (page === '新增') { %> 
          <button type="submit" class="admin-btn-second">新增</button>
        <% } else { %>
          <button type="submit" class="admin-btn-first">更新</button>
          <a href="/delete/menu/<%= menus.id %>" class="admin-btn-second">刪除</a>
        <% } %>  
      </div>


    </form>

    <div class="img-upload-block">
      <!-- <form class="upload-img" action="/upload" method="POST" enctype="multipart/form-data"> -->
      <input id="upload-file" type="file" >
        <!-- <input type="button" value="上傳"> -->
      <!-- </form> -->
      <img class="preview" src="https://pse.is/3mrnke">
      
    </div>
    
  </div>

  <script>
    const file = document.getElementById('upload-file')
    const img = document.querySelector('.preview')
    const sendUrl = document.getElementById('hidden-url')

    file.addEventListener('change', (e) => {
      const formData = new FormData()
      formData.append('image', e.target.files[0])
      fetch('https://api.imgur.com/3/image',{
        method: 'POST',
        headers: {
          Authorization: 'client-ID f000253619fe8c5'
        },
        body: formData
      }).then(response => response.json())
        .then(result => {
          img.src = result.data.link
          sendUrl.value = result.data.link
        }).catch(error => console.log('erroro', error))
    })
  </script>

</body>

</html>